.root {
    -fx-background-color: linear-gradient(to bottom right, #2a2d3e, #1e1f2b);
    -fx-padding: 40;
}

.card {
    -fx-background-color: #ffffff;
    -fx-padding: 30;
    -fx-spacing: 15;
    -fx-background-radius: 18;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.45), 20, 0.1, 0, 6);
    -fx-max-width: 300;
}

.title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #3c3f57;
}

.input {
    -fx-background-radius: 8;
    -fx-padding: 7 10;
}

.login-btn {
    -fx-background-color: #5568fe;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-padding: 8 15;
}

.login-btn:hover {
    -fx-background-color: #3f52e3;
}